.body2{
    background-color:white
    }


    .body2 h1{
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .body2 h2{
        color: black;      
        font-family: 'Times New Roman', Times, serif;
    }
    
    .body2 h3{
        color: black;
        font-family: 'Times New Roman', Times, serif;
    
    }

    .section-descricao {
        display: flex;
        padding: 7rem 4rem;
        justify-content: space-around;
    }
    
    .section-descricao .text-container {
        width: 40%;
    }
    
    .section-descricao .text-container p {
        color: #2a2929;
        margin-bottom: 1rem;
    }
     
    .social{
        margin-top: 10px;
    }


    @media (max-width: 1000px) {
        .section-descricao {
            flex-direction: column;
        }
    
        .section-descricao .text-container {
            width: 100%;
        }
        .section-descricao img {
            width: 500px;
            margin-top: 1rem;
        }
    
    }
    
    @media(max-width: 650px) {
        .section-descricao img {
            width: 100%;
        }
    }
    